<template>
    <main class="about-page">
        <h1>About</h1>
        <p>A Mechanical/Automotive Engineering graduate, interdisciplinary skills, specialising in the study of Wind Energy. I am currently working with the mesoscale simulations on the Offshore wind farms which has a potential impact on achieving sustainable goals. Looking forward to industrial collaborations and Internships.</p>
    </main>

</template>

<style scoped>
.about-page{
    margin-top: 60px;
    margin-left: 40px;
}
</style>