<template>
    <main class="home-page">
        <div id=home> 
            <img src="../assets/georgeLab.jpg" alt="Lab Photo">
            <h3>Kurias  George</h3>
            <p>Mechanical engineering graduate| Wind Engineering</p>
        </div>
    </main>

</template>


<style>
#home {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: 40px;
}
</style>
