<template>
  <aside :class="`${isExpanded ? 'isExpanded' : '' }`">
      <div class="logo">
        <v-img 
        :src="avatar"
        max-width="100px"
        ></v-img>
      </div>

      <div class="menu-toggle">
        <button class="menu-button" @click="ToggleMenu">
           <v-icon icon="mdi-chevron-double-right" ></v-icon>
        </button>
      </div>
      <font  color="grey">
      <h3 style="padding-top: 10px;padding-left: 24px;">Menu</h3>
      </font>
      <div class="menu">
          <router-link class="button" to="/">
            <span>
            <v-icon icon="mdi-home" size="large"></v-icon>
            </span>
            <span class="text">Home</span>
          </router-link>

          <router-link class="button" to="/about">
            <span>
            <v-icon icon="mdi-text-box-outline" size="large"></v-icon>
            </span>
            <span class="text">About</span>
          </router-link>         
      </div>
  </aside>
</template>

<script setup>
import avatar from '../assets/profile.jpg'
import { ref } from 'vue'
const isExpanded = ref(localStorage.getItem("isExpanded") === "true")

const ToggleMenu = () => {
isExpanded.value = !isExpanded.value
localStorage.setItem("isExpanded", isExpanded.value)
}
</script>

<style lang="scss" scoped>
aside {
  display: flex;
  flex-direction: column;
  width: calc(2rem + 32px);
  min-height: 100vh;
  overflow: hidden;
  padding: 0rem;
  


  background-color: var(--dark);
  color: var(--light);

  transition: 0.4s ease-out;

.menu-item {
  padding: 1rem;
}

.logo {
  padding: 0.7rem;
  padding-bottom: 1rem;
}
.v-img {
    border-radius: 50%;
}

.menu-toggle {
  display: flex;
  padding-right: 1.4rem;
  justify-content: flex-end;
  position: relative;
  top: 0;
  transition: 0.4s ease-out;

}
.menu-button {
  
  height: 20px;
  width: 20px;
  transition: 0.4s ease-out;
  
  &:hover {
    color: var(--primary);
    transform: translateX(0.2rem);
  }
}
h3{
  font-size: 0.8rem;
  color: var(--gray);
  text-transform: uppercase;
}

h3, .text {
  opacity: 0;
  transition: 0.5s ease-out;

}
.router-link-active{
   color: var(--primary);
   background-color: var(--dark-alt);
   border-right: 5px solid var(--primary);
 }

.menu {
  margin: 1 -1rem;

  .button {
    display: flex;
    align-items: center;
    
    padding:  0.5rem 1rem;
    transition: 0.2s ease-out;

    color: var(--light);

    &:hover {
    color: var(--primary);
    background-color: var(--dark-alt);
    }

    .text {
      padding-left: 1.3rem;
    }

  }

}

&.isExpanded {
  width: var(--sidebar-width);

  .menu-toggle {
    top: -3rem;
    .menu-button {
      transform: rotate(-180deg);
    }
  }
  h3, .text {
  opacity: 1;
  transition: 0.5s ease-out;
  
  }

  
}

  @media (max-width: 768px) {
    position: fixed;
    z-index: 99;
    }
}
</style>